/*------------------- Général -------------------*/

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-transform: full-size-kana;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

.container >div {
    margin: 25px 0px 45px 0px;
}

.Player-typo {
    font-family: 'Press Start 2P', cursive;
}

a:link {
    text-decoration: none;
}

a {
    text-decoration: none;
}


/*------------------- Header -------------------*/

header {
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    font-size: 400;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 1px 10px black;
}

header form {
    display: flex;
    margin-left: 10px;
}

#logo {
    width: 3%;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    flex: 2%;
}

header a,
footer p {
    margin: 5px 0px 5px 0px;
    padding: 0px 10px 0px 10px;
}

header a:visited,
header a {
    color: white;
}

header a:hover,
header a:active {
    color: #65c0f5;
}

header input[type='search'] {
    flex: 20%;
    padding: 0px 80px 0px 5px;
    color: black;
}

header input[type='submit'] {
    background-color: #65c0f5;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

.header-toogle {
    display: none;
}


/* Media Queries */

@media screen and (max-width:973px) {
    .header-toogle {
        position: absolute;
        top: 15px;
        right: 10px;
        display: block;
    }
    .header-toogle-close {
        display: none;
    }
    .header-menu {
        max-height: 0px;
        overflow: hidden;
        display: block;
    }
    .header-menu a {
        display: block;
        border-top: solid 1px grey;
        margin: 0px;
    }
    #header-connexion:target .header-toogle-close {
        display: inline;
    }
    #header-connexion:target .header-toogle-open {
        display: none;
    }
    #header-connexion:target .header-menu {
        max-height: 300px;
    }
    .accueil .actu {
        width: 100%;
    }
}

@media screen and (max-width:776px) {
    #logo {
        width: 5%;
    }
}

@media screen and (max-width:406px) {
    #logo {
        width: 10%;
    }
    h1 {
        font-size: 26px;
    }
}


/*------------------- Header connexion -------------------*/

header #header-connexion {
    font-size: 0.7em;
    display: flex;
    justify-content: flex-end;
}

header div a {
    border-right: 1px solid white;
}


/*------------------- Login -------------------*/

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 1.5rem;
}

#login div {
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#login div div {
    border: 1px solid #707070;
    background-color: white;
    margin: 10px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    /*margin : auto;*/
}

#login form {
    padding: 15px;
}

#login input {
    margin: 10px;
    display: block;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

.noir {
    color: black;
}

#login .bleu {
    background-color: #65c0f5;
    color: white;
    padding: 5px;
    border: #707070 3px solid;
}

#login input[type='text'],
#login input[type='email'],
#login input[type='password'] {
    padding: 5px 20px 5px 20px;
}

#login input[type='file'] {
    background-color: #85cd5c;
}


/*------------------- Mur perso -------------------*
/*---- ---- Partie Gauche ---- ---- */

.informations {
    width: 25%;
    flex: 25%;
}


/*Dispositions des DIV */

.mur {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* PHOTO de la personne */

.informations .ami-fond-blanc {
    width: 60%;
    margin: auto;
    padding-top: 5px;
}


/* Voir la suite des amis */

.mur-fond-noir,
.mur-fond-noir a {
    background-color: black;
    color: white;
}

.mur-fond-noir {
    padding: 5px 10px 40px 10px;
    margin-top: 160px;
    position: relative;
}

.mur-fond-noir a:hover {
    color: #65c0f5;
}

.informations-amis {
    display: flex;
    flex-wrap: wrap;
}

.informations-amis>* {
    flex: 1 1 0;
}

#suite {
    font-size: 1rem;
    color: #DCDCDC;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}


/*---- ---- Partie Droite ---- ----*/


/*----  Formulaire de publication ----*/

.titre-publi {
    margin: 30px 0px 30px 25px;
}


/* Bouton Upload PHOTO*/

.input-titre {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    background-color: #65c0f5;
    color: black;
    border: none;
    padding: 25px;
    border-bottom: 1px solid #707070;
}

.publications input[type="text"]::placeholder {
    color: white;
}

textarea {
    width: 100%;
    border: none;
    padding: 10px 25px;
    resize: none;
}

.bouton-espace {
    text-align: center;
    margin: auto;
}

input[type="file"],
#publier,
#search {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
}

input[type="file"] + label,
#publier + label,
.bouton-ami,
.bouton-ami a {
    border: 1px solid #707070;
    color: white;
    background-color: #ff9100;
    padding: 3px 15px 3px 15px;
    margin: 10px 25px;
    cursor: pointer;
}

input[type="file"] + label:hover,
#publier + label:hover,
.bouton-ami:hover {
    color: #ff9100;
    background-color: white;
    cursor: pointer;
}


/* Image UPLOAD */

.upload-image {
    max-width: 100%;
    max-height: 100%;
}


/* Contenu publication */

.post {
    background-color: white;
    margin-top: 10px;
    border: 2px solid #707070;
    padding: 5px 25px 5px 25px;
    overflow: hidden;
    position: relative;
}

.actu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.entete {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ss-entete {
    display: flex;
    align-items: center;
}

.mur .ss-entete a,
.mur .ss-entete span {
    display: block;
}

.mur .ss-entete div,
.info-users {
    margin-left: 20px;
}

.date {
    color: #707070;
    font-weight: bold;
}

.titre {
    color: black;
}

.trash {
    width: 17px;
    height: 17px;
    margin-top: 15px;
}

.contenu {
    color: #464646;
    word-wrap: break-word;
    /*max-width: 100%;*/
}


/* Media Queries */

@media screen and (max-width:746px) {
    .mur .mur-fond-noir,
    .mur .mur-vide {
        display: none;
    }
    .mur {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .mur .informations {
        margin-right: 25px;
    }
    .mur .informations .ami-fond-blanc {
        width: 140%;
    }
    .mur .informations {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:610px) {
    .ss-entete {
        flex-wrap: wrap;
    }
    .accueil .avatar-rond,
    .accueil .date {
        display: none;
    }
}

@media screen and (max-width:504px) {
    .accueil .titre,
    .accueil .prenom {
        font-size: 0.8em;
        ;
    }
    .mur .informations a {
        display: block;
    }
}

@media screen and (max-width:470px) {
    .mur .publications .avatar-rond,
    .mur .date {
        display: none;
    }
    .trash {
        margin-top: -15px;
    }
    .mur .titre,
    .mur .prenom {
        font-size: 0.8em;
        ;
    }
}


/*------------------- Quand #ami = Page de gestion d'amis -------------------*/

.mur-vide {
    flex: 1%;
}

.publications {
    flex: 70%;
    text-align: left;
}

.publications>* {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Dispositions des DIV */

.ami {
    width: 80%;
    margin: auto;
}

.ami div div {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.ami div div div {
    display: block;
    margin: 10px;
    padding: 0px 5px 0px 5px;
}


/* Typographies */

.prenom {
    color: #707070;
}

.prenom:hover {
    color: black;
}

.ami h3 {
    color: white;
}


/* Couleurs de Fonds */

.ami>.ami-fond-noir {
    background-color: black;
    padding: 10px;
}

.ami-fond-blanc {
    background-color: white;
    position: relative;
    border: 1px solid #707070;
}

.ami-fond-bleu {
    background-color: #65c0f5;
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border-bottom: 1px solid #707070;
}


/* Avatars */

.avatar {
    border: 1px solid #707070;
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto 10px auto;
    z-index: 5;
    position: relative;
    background-color: white;
    object-fit: cover;
}

.avatar-rond {
    border-radius: 50%;
}


/* Boutons AMIS*/

.bouton-ami {
    margin: 5px;
}

.affichage-bouton {
    margin-top: 10px;
}


/*------------------- Footer -------------------*/

header,
footer {
    position: relative;
    background-color: black;
    padding: 2px 0px 2px 0px;
    color: white;
    z-index: 1;
}

footer {
    z-index: 100;
    width: 100%;
    bottom: 0;
    position: fixed;
}


/*------------------- 404 -------------------*/

.container-fluid {
    text-align: center;
}

#error,
.erreur {
    background-color: black;
    color: white;
}

#error div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#error img {
    max-width: 100%;
    max-height: 100%;
}

#error .bouton-ami {
    margin: 10px 0px 25px 0px;
}